* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Outfit", sans-serif;
    background-image: url("https://images3.alphacoders.com/109/1091500.jpg");
    background-size: cover;
    background-position: top center;
  }
  

  @media screen and (max-width: 600px) {
    body {
      background-size: auto;
      background-position: center;
    }
  }
  
  @media screen and (min-width: 601px) and (max-width: 1024px) {
    body {
      background-size: cover;
      background-position: center;
    }
  }
  @media screen and (min-width: 912px) and (max-width: 1368px) {
    body {
      background-size: cover;
      background-position: top center;
    }
  }

  @media screen and (min-width: 1025px) and (max-width: 1366px) {
    body {
      background-size: cover;
      background-position: top center;
    }
  }
  
  @media screen and (min-width: 650px) and (max-width: 2000px) {
    body {
      background-size: cover;
      background-position: top center;
    }
  }
  
  @media screen and (min-width: 2001px) {
    body {
      background-size: cover;
      background-position: top center;
    }
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
  }
  header input {
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(18, 18, 18, 0.4);
    border-radius: 16px;
    border-bottom: 3px solid #b6df00;
  
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
    color: #eeeeee;
  }
  header input:focus {
    background-color: rgba(18, 18, 18, 0.8);
  }
  main {
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .location .city {
    color: #ffffff;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
    font-family:'Lucida Sans';
    text-shadow: 2px 2px rgba(1, 0, 0, 0.5);
  }
  .location .date {
    color: #eeeeee;
    font-size: 16px;
  }
  .current .temp {
    color: #eeeeee;
    font-size: 102px;
    font-weight: 900;
    margin: 30px 0;
    text-shadow: 2px 8px rgba(0, 0, 0, 0.5);
  }
  .current .temp span {
    font-weight: 200;
  }
  .current .weather {
    color: #eeeeee;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0 3px rgba(0, 0, 0, 0.4);
  }
  .current .hi-low {
    color: #eeeeee;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0 3px rgba(0, 0, 0, 0.4);
  }